.container {
  padding: 20px;
}

h2,
h3 {
  text-align: center;
}

h3 {
  color: rgb(78, 78, 78);
}

.image {
  text-align: center;
}

.name {
  text-align: center;
  font-family: "Rubik", sans-serif;
  width: 100%;
}

img {
  border-radius: 25%;
  width: 150px;
}

.image {
  width: 20%;
}

p {
  font-family: "Roboto", sans-serif;
}

.logo {
  text-align: center;
  font-style: italic;
  color: grey;
}

.wiredlogo {
  width: 200px;
}

hr {
  text-align: center;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.description,
.description2 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-size: 18px;
  color: rgb(71, 71, 71);
  text-align: center;
}

.description2 {
  font-weight: bolder;
}

.team {
  margin-top: 40px;
}
