.search{
    width: 500px;
    margin-left: 400px;
  
}

.nvb{
    height: 100px;
    background-color: #F8F8F8;
}

.nvbb{
    height: 130px;

}

.picon{
    margin-top: 20px;
}

.inup{
    margin-left: 800px;
}

#logo {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    opacity: 0%;
    animation: logoAnim 4s ease-in-out alternate forwards;
    width: 700px;
    margin-top: 50px; 
}

#nlogo{
    width: 200px;
    
}

@keyframes logoAnim {
    from {
        opacity: 0%;
    }

    to {
        opacity: 100%;
    }
}

#dropdown:hover,#dropdown:focus{
    background-color: #102483;
    color: white;
    border-color:#102483;

}

#si:hover,#js:hover{
 background-color: #102483;
 color: white;
}

#si, #dropdown,#js{
    border-color:#102483;
    color: #102483;
}

.dd{
    color: #102483;
}


.pqr{
    margin-left: 400px;
    width: 400px;
}

.nvbjs{
    height: 130px;
    background-color: #F8F8F8;

}

.nvjs{
   margin-left: 880px; 
}

h6{
    text-align: center;
}

