.btn-primary{
    background-color: #102483;
}

#jml{
    margin-left: 150px;
} 

h2{
    text-align: center;
}

form{
    margin-top: 200px;
    width: 500px;
}

.jmm{
    margin-top: 90px;
}



.ep{
    padding-bottom: 20px;
}

.ee{
    padding-bottom: 8px;
}

.sii{
    
    margin-top: 150px;
    margin-left: 450px;
}

#sii{
    margin-left: 150px;
}

