*{
    box-sizing: border-box;
}
.acc{
    width: 800px;
    margin-top: 50px;
}

.ac{
    width: 800px;
    margin-top: 10px;
}

.crd{
    height: 100px;
}

.up{
    float: left;

}

.one{
    width: 30%;
    height: 580px;
    margin-top: 50px;
    margin-left: 40px;
   
}

.two{
    width: 45%;
    padding-left: 50px;
}

.three{
    width: 55%;
    margin-left: 30px;
    margin-top: 50px;
}

.four{
    width: 45%;
    margin-left: 30px;
    margin-top: 50px;
}

.five{
    
    width: 40%;
    height: 580px;
    margin-top: 50px;
    margin-left: 80px;
}

.abcd{
    width: 100%;
}

#app{
    margin-left: 230px;
    width: 170px;
}

.ll{
    display: flex;
}

.btn{

    margin: 10px;
    width: 150px;
    height: 50px;
}

h3{
    text-align: center;
}

.jm{
    margin-left: 30px;
    height: 40px;
}

.jbs{
    margin-left: 275px;
}

.mxln{
    max-height: 600px;
}

