#logos{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 90px;
    margin-right: 300px;
}

#logoss{
    /* margin-right: 10px; */
    height: 90px;
}

.container{
    /* border: solid; */
margin-left: 50px;
font-family: 'Roboto', sans-serif;
font-size: 12px;

}

.container a{
    font-size: 12px;
}

.container ul li{
    margin-bottom: 5px;
}

   
    
    .bg-grey {
    background: white;
    }
    
    .hsix{
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
    font-size: 14px;
    }
    
    footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
    }
    
    .btn-footer {
    color:rgb(10, 24, 83);
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
   
    }
    
    .btn-footer:hover {           
    text-decoration: none;
    color: white;
    background-color:rgb(10, 24, 83);
    border: 1px solidrgb(10, 24, 83);         
    }
    
    .form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px #232323;
    outline: none;
    padding-left: 10px;
    }
    
    /* ::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
    
    } */
    
    .form-footer input[type="button"] {
    cursor: pointer;
    border: none;
    background:rgb(10, 24, 83);
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0 ;
    padding: 2px 12px;
    }
    
    footer ul li {
    list-style: none;
    display: block;
    }
    
    footer ul  {
    padding-left: 0;
    }
    
    footer ul li a{
    text-decoration: none;
    color: grey;
    text-decoration:none;
    }
    
    /* a:hover {
    text-decoration: none;
    color: rgb(10, 24, 83); 
    } */
    
    .logo-part {
    margin-left: 0;
    width: 300px;

     
    }

    #fl{
        height: 200px;
    }

    #flist{
        list-style: none;
        margin-left: 100px;
       
    }

    #flist a{
        color: black;
    }

    .abt{
        margin-left: 20px;
        width: 290px;
    }

    .hhh{
        width: 100px;
        margin-right: 100px;
    }

   
    
