body{background-color: rgba(16,36,193,.001);}

h2{text-align: center;}
h1{margin-top: 50px;text-align: center;}
h4{color: darkgrey;}
h2{margin-top: 30px;margin-bottom: 30px;}

.btn-primary{background-color: #102483;}

.frontpage-body{max-width: 100% !important; text-align: center;}
.frontpage-body img{max-width: 100% !important; margin-top: 10vh;}

.front-page-navbar{height: 130px;}
.btn-grp-front {position: absolute; right: 0}
.navbar-expand .navbar-nav .dropdown-menu{left: 10px; min-width: auto; padding: 5px; margin-top: -8px !important}
    
.nvbjs{height: 110px;background-color:  rgba(16,36,136,.9);}
#logos{height: 90px;width: 90px}  
#logo{border-radius: 0 !important}  
.navbar-custom .navbar-buttons{justify-content: flex-end; display: flex; width: 100%}
.navbar-custom .search{text-align: center; width: 700px; margin: 40px auto 20px}
.navbar-header-btn-grp{height: 100px;background-color: #F8F8F8;}
.search-container-header{margin: auto; width: 100%; padding: 0 20px;}    
.picon{margin-top: 20px;}
    
.header-btn-grp .dropdown-menu {left: -55px !important}

.premium-container{margin: auto; text-align: center;margin-top: 10vh}
.premium-plans{width: 45%; margin-left: 200px; max-width: 400px; margin: auto;height: 450px}

.signup-form{width: 450px; margin: auto; padding: 20px !important;}
.margin-10vh{margin: calc(10vh + 43px) auto !important}
.border-radius-0{border-top-left-radius: 0 !important; border-top-right-radius: 0 !important}
.signup-form-error{background-color: #F32013 !important; border-bottom-right-radius: 0 !important; border-bottom-left-radius: 0 !important;  text-align: center; color: #fff; width: 450px; margin: 10vh auto 0; padding: 10px !important;}
.signin-form-error{background-color: #F32013 !important; border-bottom-right-radius: 0 !important; border-bottom-left-radius: 0 !important;  text-align: center; color: #fff; width: 450px; margin: 0 auto 0; padding: 10px !important;}
.signup-form .signup-btn-grp{text-align: right;}

.create-job-form{width: 600px}

.search-jobs-single .job-topic, .search-jobs-single-user .job-topic{color: rgb(16,36,193); font-weight: bold;}
.search-jobs-single .job-topic p, .search-jobs-single-user .job-topic p{font-weight: 500}
.search-jobs-single{cursor: pointer; margin: auto; width: 700px; margin-top: 20px;}
.search-jobs-single .card-body ,.search-jobs-single-user .card-body{padding: 0px;}
.search-jobs-single .top-details-topics, .search-jobs-single-user .top-details-topics{text-align: center; font-size: 18px; font-weight: bold; color: rgba(16,36,136,0.9);margin: 10px 0px 5px; box-shadow: 2px 2px 1000px rgba(16,36,136,0.3)}
.search-jobs-single .top-details, .search-jobs-single-user .top-details{color: #000; font-weight: 450; padding: 20px !important;box-shadow: 1px 2px 5px rgba(0,0,0,.1)}
.search-jobs-single .top-details-container, .search-jobs-single-user .top-details-container{padding: 20px !important;}

.search-jobs-single-user{cursor: pointer; margin: auto; width: auto;}
.company-pvt{padding: 40px; margin-top: 20px;}
.company-pvt-interview{width: 39%; margin-right: 2%}
.company-pvt-jobs{width: 59%}

.apply-div{padding: 40px; margin: 0 !important}
.apply-job-details{width: 40%; margin-right: 2%; }
.apply-form{width: 58%}

.absolute-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading-spinner__overlay { 
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, .95) !important;
    z-index: 999;
    width: 100vw;
    text-align: center;
    height: 100vh
  }
.loading-spinner__overlay img{     
    top: 35%;
    position: absolute;
    left: 45%
}
.footer-btn-grp a{padding: 15px 30px; border-radius: 50px; line-height: 5px}
.abt p{text-align: center;}
.hsix{width: 100%; text-align: center; margin-left: 20%}
.container{margin: auto !important;}
.logo-part img {width: auto !important; height: 190px !important; margin-left: -50px}

@media (max-width: 768px) {
    button{ font-size: .5em }
    .front-page-navbar{height: 80px;}   
    .frontpage-body img{max-width: 80% !important; margin-top: 18vh;}     
    .btn {height: auto !important; width: auto !important; font-size: 14px; padding: 5px 10px !important; margin: 5px !important; line-height: 2 !important}    
    .search-jobs-single-user .btn {height: 40px !important;}
    .btn svg { font-size: 16px;margin-right: 5px}
    .navbar-expand .navbar-nav .dropdown-menu{left: -20px; font-size: 12px; min-width: auto; padding: 5px;margin-top: -3px !important}
    .navbar-expand .navbar-nav .dropdown-menu .dropdown-item{padding: 0px 10px }
    .header-btn-grp .dropdown-menu {left: -45px !important}

    .navbar-custom .search{width: 100%; text-align: center; max-width: 700px; margin: 40px auto 20px}
    .picon{margin-top: 5px;}

    .premium-container{margin: auto; text-align: center;margin-top: 8vh}
    .premium-container .btn{font-size: 16px; padding: 10px !important;height: auto !important;}
    .premium-plans{width: 100%; padding: 10px 20px; margin-left: 0; max-width: 450px; margin: auto;}

    .signup-form-container{padding: 10px}
    .signup-form{width: 100%; max-width: 450px; padding: 20px !important; margin: auto;}  
    .signup-form-error{width: 100%; max-width: 450px; padding: 10px !important; margin: auto;}
    .create-job-form{max-width: 600px}  

    .search-jobs-container{padding: 10px}
    .search-jobs-single{margin: auto; width: 100%; max-width: 700px; margin-top: 20px;}    

    .search-jobs-single .job-topic, .search-jobs-single-user .job-topic span{font-size: 16px !important}
    .search-jobs-single .top-details-topics, .search-jobs-single-user .top-details-topics{font-size: 16px;}
    .search-jobs-single .top-details, .search-jobs-single-user .top-details{font-size: 14px}
    .search-jobs-single .top-details-container, .search-jobs-single-user .top-details-container{padding: 20px !important;}


    .company-pvt{padding: 20px; margin-top: 20px;}    
    .company-pvt-interview{width: 100%; margin-top: 20px}
    .company-pvt-jobs{width: 100%}

    .apply-div{padding: 20px;}
    .apply-div h5{font-size: 16px !important}
    .apply-div p{font-size: 14px !important}
    .company-pvt h3 ,.apply-div h3{font-size: 20px !important}
    .apply-job-details{width: 100%; margin-right: 0; }
    .apply-form{width: 100%}

    .applicants-table{padding: 20px !important; margin-top: 10px !important}

    .hhh{width: auto !important;}
    #logos{height: 60px;width: 60px}      
    .logo-part{text-align: center; width: auto !important; margin-top: -50px;}
    .logo-part img {width: auto !important; height: 190px !important; margin-left: 0 !important}
    .container{margin-left: 0px !important;}
    .hsix{margin-bottom: 40px !important; margin-top: -20px !important; margin-left: 0 !important}
    .hsix2{margin-top: 50px !important; margin-bottom: 20px !important}
    .hsix3{margin-top: 30px !important; margin-bottom: 20px !important}
    br{display: none;}

    #flist{text-align: center;margin-left: 0 !important}
    #flist div{margin: auto !important; text-align: center;margin-bottom: 5px !important}
    .links-us{text-align: center; margin: auto;}

    .loading-spinner__overlay img{width: auto !important;left: 30%}
}



/*#logos{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 90px;
    margin-right: 300px;
}*/

.container{
    /* border: solid; */
margin-left: 50px;
font-family: 'Roboto', sans-serif;
font-size: 12px;

}

.container a{
    font-size: 12px;
}

.container ul li{
    margin-bottom: 5px;
}

   
    
    .bg-grey {
    background: white;
    }
    
    .hsix{
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
    font-size: 14px;
    }
    
    footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
    }
    
    .btn-footer {
    color:rgb(10, 24, 83);
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
   
    }
    
    .btn-footer:hover {           
    text-decoration: none;
    color: white;
    background-color:rgb(10, 24, 83);
    border: 1px solidrgb(10, 24, 83);         
    }
    
    .form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px #232323;
    outline: none;
    padding-left: 10px;
    }
    
    /* ::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
    
    } */
    
    .form-footer input[type="button"] {
    cursor: pointer;
    border: none;
    background:rgb(10, 24, 83);
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0 ;
    padding: 2px 12px;
    }
    
    footer ul li {
    list-style: none;
    display: block;
    }
    
    footer ul  {
    padding-left: 0;
    }
    
    footer ul li a{
    text-decoration: none;
    color: grey;
    text-decoration:none;
    }
    
    /* a:hover {
    text-decoration: none;
    color: rgb(10, 24, 83); 
    } */
    
    .logo-part {
    margin-left: 0;
    width: 300px;

     
    }

    #fl{
        height: 200px;
    }

    #flist{
        list-style: none;
        margin-left: 100px;
       
    }

    #flist a{
        color: black;
    }

    .abt{
        margin-left: 20px;
        width: 290px;
    }

    .hhh{
        width: 100px;
/*        margin-right: 100px;
*/    }

   
    
